<footer class="footer">

	<div class="wrap">
		
		<iframe style="border-radius:1px" src="https://open.spotify.com/embed/playlist/0vvXsWCC9xrXsKd4FyS8kM?utm_source=generator&theme=0" padding-bottom="10px" width="auto" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
		
		{% include socials.html %}

		<div class="grid-container">

			<div class="grid-child footer__copyright" style="color:#0FF">{{site.time | date: '%Y'}} &copy; PARISPM88</div>
			
			<div class="grid-child toggle-theme">
				<div class="toggle-moon"><i class="ion ion-ios-moon"></i></div>
				<div class="toggle-sun"><i class="ion ion-ios-sunny"></i></div>
				<div class="toggle-thumb"></div>
			</div>

		</div>
		
		

	</div>

</footer>
