// - - - - - - - - - - - - - - - - - -

// Profile

// - - - - - - - - - - - - - - - - - -


.hero {
	position: relative;
	margin-top: 10px;
	padding: 10px 0 65px;
	width: 100%;
	background: var(--hero-background-color);

	@include mq(tabletp) {
		margin-top: 0px;
		padding: 10px 0 65px;
	}

	@include mq(laptop) {
		margin-top: 0px;
		padding: 10px 0 65px;
	}

	h1 {
		color: var(--hero-text-color);

		@include mq(tabletp) {
			white-space: pre-line;
		}
	}

	p {
		color: rgba(var(--hero-text-color), 0.8);

		@include mq(tabletp) {
			margin-top: 10px;
		}

		@include mq(laptop) {
			margin-top: 10px;
		}
	}

	.socials {
		margin-top: 5px;

		@include mq(tabletp) {
			margin-top: 5px;
		}

		@include mq(laptop) {
			margin-top: 5px;
		}
	}

	.socials__item__link {
		background: rgba(var(--hero-text-color), 0.8);
		color: var(--hero-background-color);

		&:hover {
			background: var(--hero-text-color);
		}
	}
}

.hero__image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(var(--hero-background-color), $overlay-opacity);
}