---
layout: default
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url()">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p style="color:#0CC">{{ page.date | date_to_long_string }}</p>
		<p><span class="post__minutes">{% assign words = page.content | number_of_words %} {% if words < 360 %} 1 min read {% else %} {{ words | divided_by:180 }} min read {% endif %} </span> </p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			{{ page.content }}

		</article>

	</div>

</section>